body{

    max-width: 700px;
}

button{
    border-radius: 10px;    
    border: 1px white;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.error{
    border: 1px solid red;
}

.container{
    display: flex;
    max-width: fit-content;
}

.left__blue{
    background: #4E5BEE;
}

h1{
    display: none;
}

input{
    border-radius: 10px;
    border: 1px white;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.solve__problem{
   text-align: center;
    color: white;

}

.title > img{
    width: auto;
    height: 100px;
    padding: 100px;
    margin: auto;
}

.form{}

.button{}

.solve__problem{}

.image > img{
    width: auto;
    height: 500px;
}